:root{
    --accent-color: #2196F3; /*колір акцентів, частини логотипу, фону кнопок*/
    --text-color: #757575; /*колір вторинного тексту*/
}

body {
    font-family: "Roboto", sans-serif;
    color: #212121;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
}

address {
    font-style: normal;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.navigation-list,
.contacts-list,
.principles-list,
.tasks-list,
.team-list,
.address-list,
.filter-list,
.projects-list,
.team-soc-list,
.permanent-clients-list {
    list-style: none;
}

/*--------HEADER---------*/

.logo-web-element {
    color: var(--accent-color);
}

.logo-studio-element {
    color: #000000;
}

.footer-studio-element{
    color: #FFFFFF;
}

.logo-web-element, .logo-studio-element, .footer-studio-element {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.link-logo {
    margin-right: 93px;
}

.header{
    background: #FFFFFF;
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ececec;
}

.navigation {
    display: flex;
    align-items: center;
}

.wrap-header-navigation {
    display: flex;
}

.navigation-list {
    display: flex;
}

.navigation-list-item {
    margin-right: 50px;
}

.navigation-list-item:last-child {
    margin-right: 0px;
}

.navigation-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}



.link,
link:visited {
    text-decoration: none;
    color: inherit
}

.navigation-link:hover, .navigation-link:focus, .contact-link:hover, .contact-link:focus {
    color: var(--accent-color);
}

.contact-link:hover .contact-mail-icon,
.contact-link:focus .contact-mail-icon
 {
    fill: var(--accent-color);
}

.contact-link:hover .contact-tel-icon,
.contact-link:focus .contact-tel-icon {
    fill:var(--accent-color)
}


.contacts-list {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.contact-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.contact-item:first-child {
    margin-right: 50px;
}

.contact-mail-icon {
    display: flex;
    margin-right: 10px;
    fill: #757575;
}

.contact-tel-icon {
    display: flex;
    margin-right: 10px;
    fill: #757575;
}

.contact-link {
    display: flex;
    align-items: center;
}

/*---------HERO--------*/
.hero{
    background-color: #2F303A;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 1600px;
    min-height: 600px;
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
}


.hero-title {
    margin-left: auto;
    margin-right: auto;
    max-width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.hero-btn {
    min-width: 216px;
    padding: 10px 32px 10px 32px;
    margin: 30px auto 0px;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-width: 0px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: block;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    cursor: pointer;
}

/*---------PRINCIPLES-------------*/
.work-principles, .tasks{
    padding-top: 94px;
}

.principles-title{
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.principles-after-title{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.principles-list {
    display: flex;
}

.principles-list-item {
    max-width: 270px;
    margin-right: 30px;
}

.principles-list-item:last-child {
    margin-right: 0px;
}

.principles-box {
        display: flex;   
        height: 120px;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
        border-radius: 4px;
        background-color: #F5F4FA;
}

/*-------tasks-----------*/
.tasks {
    padding-bottom: 94px;
}

.tasks-title, .team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.tasks-title {
    margin-bottom: 50px;
}

.tasks-list {
    display: flex;
}

.tasks-list-item {
    margin-right: 30px;
}

.tasks-list-item:last-child {
    margin-right: 0px;
}

/*--------team--------------*/
.team{
    background: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
}

.team-title {
    margin-bottom: 50px;
}
.member-name{
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.member-title{
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
    margin-bottom: 16px;
}

.team-list {
    display: flex;
}

.team-list-item {
    margin-right: 30px;
}

.team-list-item:last-child {
    margin-right: 0px;
}

.team-list-box {
    background-color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
}

.team-soc {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.team-soc-link {
    width: 44px;
    height: 44px;
    border-radius:50%;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-soc-icon {
    fill: #AFB1B8;
}

.team-soc-link:hover, .team-soc-link:focus {
    background-color: var(--accent-color);
}

.team-soc-link:hover .team-soc-icon,
.team-soc-link:focus .team-soc-icon {
    fill: #FFFFFF;
}

/*-------------permanent clients-----------------*/
.permanent-clients {
    padding-top: 94px;
    padding-bottom: 94px;
}

.permanent-clients-title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.permanent-clients-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.permanent-client-link {
        width: 170px;
        height: 92px;
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
}

.permanent-client-icon{
    fill: #AFB1B8;
    padding: 32px 16px;
    display: inline-block;
}

.permanent-client-link:hover,
.permanent-client-link:focus {
    border: 1px solid var(--accent-color);
}

.permanent-client-link:hover .permanent-client-icon,
.permanent-client-link:focus .permanent-client-icon {
    fill: var(--accent-color);
}

/*-----------footer------------*/
.footer-address {
    margin-top: 20px;
}
.footer{
    background: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.map-link{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.mail-link, .tel-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-list-item {
    margin-bottom: 9px;
}

.footer-contact-box {
}

.join-us {
    max-width: 206px;
}

.join-title {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.footer-flex {
    display: flex;
    gap: 70px;
    align-items: center;
}

.team-soc {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.team-soc-link-footer {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    fill: #fff;
}

.team-soc-icon-footer {
    fill: #fff;
}

.team-soc-link-footer:hover,
.team-soc-link-footer:focus {
    background-color: var(--accent-color);
}

.team-soc-link:hover .team-soc-icon,
.team-soc-link:focus .team-soc-icon {
    fill: #FFFFFF;
}

/*---------------PORTFOLIO------------*/
/*---------------FILTER BUTTONS-------*/
.filter-btns{
    padding-top: 94px;
    padding-bottom: 94px;
}

.filter-btn{
    padding: 6px 22px;
    background: #F5F4FA;
    border-radius: 4px;
    border-width: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    cursor: pointer;
}

.filter-btn:hover, .filter-btn:focus{
    background: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.filter-list {
    display: flex;
    justify-content: center;
}

.filter-list-btn {
    margin-right: 8px;
}

.filter-list-btn:last-child {
    margin-right: 0px;
}

/*--------projects-------------------*/

.project-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.project-title-after{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 30px;
}

.projects-list-item {
    width: 370px;
    height: 404px;
    border: 1px solid #eeeeee;
}

.projects-list-item:hover,
.projects-list-item:focus {
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
}

.project-box {
    padding: 20px 24px;

}

img {
    display: block;
    max-width: 100%;
    height: auto;
}